<div class="container group-show">
   <% @invites.each do |i|%>
     <div class="invite-message">
       Sender: <%= i.sender.first_name %> <br>
       Group: <%= i.group.name %> <br>
       Message: <%= i.message %><br>
       <%= link_to "ACCEPT", "" %>
       <%= link_to "DENY", "" %>
     </div>
   <% end %>
</div>
