<h1>Create a New Account</h1>

<form class = "signup">
  <%= form_for @user do |f| %>

    <div class = "form-group">
      <%= f.text_field :first_name, placeholder: "First Name", class: "col-md-4" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "col-md-4" %>
    </div>

    <div class = "form-group">
      <%= f.text_field :email, placeholder: "Email address", class: "col-md-6"%>
    </div>

    <div class = "form-group">
      <%= f.text_field :password, placeholder: "Password", class: "col-md-6" %>
    </div>

    <div class = "form-group">
      <%= f.date_field :birthday, placeholder: "Birthday", class: "col-md-6" %>
    </div>
    <div class = "form-group">
      <%= f.text_field :current_location, placeholder: "Current Location", class: "col-md-6" %>
    </div>
    <div class = "form-group">
      <%= f.submit 'Create an Account'%>
    </div>
  <% end %>
</form>
