<h1><%= @user.first_name + " " + @user.last_name %>'s Page</h1>

<% if @user == current_user %>
  <%= link_to "Edit my information", edit_user_path(@user)%> <br><!--show edit information button only if I'm logged in to my account, not other user's -->
<% end %>

<h2><%= @user.first_name %>'s groups:</h2>
<% @groups.each do |g| %>
  <li><%= link_to g.name, group_path(g) %></li>
<% end %>

<% if current_user == @user %>
  <h4><%= link_to "Create New Group", new_group_path %></h4>
<% end %>
<!-- <h2>My Posts:</h2>
<ol>
<% @user.posts.each do |p| %>
  <li><%= link_to p.title, post_path(p)%></li>
<% end %>
</ol> -->
