<div class="navbar navbar-default navbar-fixed-left">
  <a class="navbar-brand">My Groups</a>
  <ul class="nav navbar-nav">
    <% @groups.each do |g| %>
      <li><%= link_to g.name, group_path(g) %></li>
    <% end %>
    <% if @user == current_user%>
      <li><%= link_to "New Group", new_group_path %></li>
    <% end %>
  </ul>
</div>

<div class="container">
 <div class="row">
   <div class="col-md-12 username">
     <h2><%= @user.first_name + " " + @user.last_name %>'s Page</h2>
     <div class="">
       <%= image_tag @user.profile_pic, {size: '200x200', class: "img-circle"} %>
     </div>
     <div class="">
       Name: <%= @user.first_name + " " + @user.last_name  %>
     </div>
     <div class="">
       <span class="glyphicon glyphicon-envelope"></span> <%= @user.email %>
     </div>
     <div class="">
       🎉<%= @user.birthday.to_formatted_s(:long_ordinal) %>
     </div>
     <div class="">
       <span class="glyphicon glyphicon-map-marker"></span> <%= @user.current_location %>
     </div>
   </div>
 </div>
</div>




<!-- <h2>My Posts:</h2>
<ol>
<% @user.posts.each do |p| %>
  <li><%= link_to p.title, post_path(p)%></li>
<% end %>
</ol> -->
