<h1><%= @user.first_name + " " + @user.last_name %>'s Page</h1>

<h2>My Groups:</h2>
<% @user.groups.each do |g| %>
  <li><%= link_to g.name, group_path(g) %></li>
<% end %>

<!-- <h2>My Posts:</h2>
<ol>
<% @user.posts.each do |p| %>
  <li><%= link_to p.title, post_path(p)%></li>
<% end %>
</ol> -->

<% if @user == current_user %>
<%= link_to "Edit My Information", edit_user_path(@user)%> <br><!--show edit information button only if I'm logged in to my account, not other user's -->
<% end %>
<%= link_to "All Posts", posts_path %> <br>
<%= link_to "Home", "/" %>
