<div class="container group-edit">
  <h1><%= @post.title %></h1>
  <p>By <%= @post.user.first_name %></p>
  <p><span class="glyphicon glyphicon-map-marker"></span> <%= @post.location %>, on <%= @post.date.to_formatted_s :long_ordinal %> </p>
  <p><%= @post.body %></p>
  <%= image_tag  @post.img_url, {size: '500x500', alt:@post.title} %><br>


  <% if current_user == @post.user %> <!-- if you are the one that posted this, you can edit-->
    <%= link_to "Edit this post", edit_post_path(@post) %><br>
  <% end %>
  <%= link_to "View All Posts", group_path(@group)  %> <br>

</div>
