<!DOCTYPE html>
<html>
  <head>
    <title>How Much Time Left?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
