<!DOCTYPE html>
<html>
  <head>
    <title>Until We Part</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Patrick+Hand+SC" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <%= flash[:alert] %>

    <%= yield %>
  </body>
</html>
